<div class="w-full h-16 flex flex-row justify-end items-center space-x-5 px-8 bg-black text-white text-xl font-semibold
  overflow-hidden fixed">

  <p [routerLink]="['/']" class="hover:cursor-pointer">Home</p>
  <p [routerLink]="['/search']" class="hover:cursor-pointer">Search</p>
  <p [routerLink]="['/latest']" class="hover:cursor-pointer">Latest</p>
  <p [routerLink]="['/top-by-interest']" class="hover:cursor-pointer">Interest</p>
  <p [routerLink]="['/top-by-fans']" class="hover:cursor-pointer">Fans</p>
  <p [routerLink]="['/brands']" class="hover:cursor-pointer">Brands</p>

</div>